.dynamic-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.fade-overlay { /* Corrected class name */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  z-index: 100;
  pointer-events: none;
}

.fade-overlay.fade-out {
  opacity: 0;
}

.dynamic-content, .dynamic-footer, .webp-overlay { /* Target ALL elements to fade */
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease-in-out; /* Smooth transition */
}

.dynamic-page.content-visible .dynamic-content, .dynamic-page.content-visible .dynamic-footer, .dynamic-page.content-visible .webp-overlay { /* Show content */
  opacity: 1;
}


.dynamic-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 100%;
  flex-grow: 9; /* dynamic-content takes up 9/10 of the available space */
  background-image: none; /* Background image is now on the loading-wrapper */
  position: relative; /* Needed if you use absolute positioning within dynamic-content */
}

.dynamic-content.full-height {
  height: 100vh;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-image: url("../assets/images/BG_loadingPage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.webp-overlay {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
}

.dynamic-footer {
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
